<template>
    <div>
        <el-drawer :title="getTitle()" :visible.sync="visible" size="100%" direction='btt' :wrapperClosable='false' :before-close="handleClose">
            <div v-loading="loading">
                <el-row>
                    <el-col :offset="1" :span="22">
                        <el-input type="textarea" :rows="16" v-model="logs" :readonly="true" id="messageBox" />
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :offset="1" :span="18">
                        <el-autocomplete width="100%" v-model="msg" :fetch-suggestions="querySearch" @select="handleSelect" />
                    </el-col>
                    <el-col :span="4" style="padding-top:4px padding-right:10px" align="right" >
                        <el-button-group>
                            <el-button type="primary" size="small" icon="el-icon-success" @click.prevent="send()">send</el-button>
                            <el-button type="warning" size="small" icon="el-icon-warning" @click.prevent="reset()">reset</el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import util from '@/utils/util.js'
import CommandService from '@/service/CommandService.js'
import UnitService from '@/service/UnitService.js'


export default {
    data() {
        
        return {
            loading: false,
            msg: '',
            logs: '',
            lastLogID: 0,
            commandsList:[],
        };
    },
    computed: {
        visible: {
            get: function() {
                this.callGetLastslog()
                return this.$store.state.app.terminal.visible
            },
            set: function(value){
                //this.$store.state.app.terminal = value
            }
        }
    },
    methods: {
        querySearch(queryString, cb) {
            var commandsList = this.commandsList;
            var results = commandsList;
            cb(results);
        },
        createFilter(queryString) {
            return (link) => {
                return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
        },
        handleSelect(item) {
            console.log(item);
        },
        getTitle() {
            return 'Terminal ('+this.$store.state.app.terminal.imei+')'
        },
        handleClose(done) {
            this.$store.dispatch('toggleTerminal', {visible: false, imei: ''})
        },
        send() {
            if (this.$store.state.app.terminal.imei == '') {
                util.showMessage('Error missing IMEI', 'error')
                return
            }
            this.loading = true
            let commandService = new CommandService(this)
            this.commandsList.unshift( { value:this.msg } );
            if (this.commandsList.length>20) {
                this.commandsList.pop();
            }
            localStorage.commandsList =JSON.stringify(this.commandsList);
            commandService.call(this.$store.state.app.terminal.imei, this.msg).then(res => {
                if (res) {
                    util.showMessage("Command sent to Unit "+this.$store.state.app.terminal.imei+" successfully", "success")
                }
                this.loading = false
            })
        },
        callGetLastslog() {
            if (this.$store.state.app.terminal.imei == '') {
                return
            }
            let unitService = new UnitService(this)
            unitService.lastslog(this.$store.state.app.terminal.imei).then(list => {
                if (list) {
                    list.data = list.data.reverse();
                    list.data.forEach((log) => {
                        if (log.id>this.lastLogID)
                        {
                            this.logs += "["+log.created_at+"] [" + (log.type == 'I' ? "UN" : "SS" ) + "] " + log.message + "\n"
                            this.lastLogID=log.id;
                            setTimeout(function(){ document.getElementById('messageBox').scrollTop = document.getElementById('messageBox').scrollHeight; },100);
                        }
                    })
                }
                this.waitAndUpdateLog()
            })
        },
        waitAndUpdateLog() {
            let self = this
            setTimeout(() => {self.callGetLastslog()}, 5000);
        },
        reset() {
            this.logs = ''
        }
    },
    created() {
    },
    mounted() {
        if (localStorage.commandsList) {
            this.commandsList = JSON.parse(localStorage.commandsList);
        }
    }
}
</script>
<style scoped>
    .el-autocomplete {
        width:100%;
    }
</style>
