<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
      :show-timeout="200"
      :default-active="$route.path"
      :background-color="variables.menuBg"
      :text-color="variables.menuText"
      :active-text-color="variables.menuActiveText"
      mode="vertical"
    >
      <sidebar-item key="/dashboard" :item="{path: '/dashboard', name: 'dashboard', meta: { title: 'Dashboard', icon: 'dashboard', show: true}}" base-path="/dashboard"/>
    </el-menu>
  </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'
import variables from '@/styles/variables.scss'

/* eslint-disable */
export default {
  components: { SidebarItem },
  data() {
    return {
      items: []
    }
  },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    variables() {
      return variables
    }
  },
  created() {
    this.$router.options.routes.forEach((route) => {
      if ( route.children ) {
        route.children.forEach((child) => {
          if ( child.meta && child.meta.show ) {
            this.items.push(child)
          }
        })
      }
    })
  }
}
</script>