<template>
  <div class="app-container">
    <h1>People</h1>
    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <p>Name: {{ props.row.name }}</p>
          <p>Height: {{ props.row.height }}</p>
          <p>Mass: {{ props.row.mass }}</p>
          <p>Hair Color: {{ props.row.hair_color }}</p>
          <p>Skin Color: {{ props.row.skin_color }}</p>
          <p>Eye Color: {{ props.row.eye_color }}</p>
          <p>Eye Color: {{ props.row.eye_color }}</p>
          <p>Birth Year: {{ props.row.birth_year }}</p>
          <p>Gender: {{ props.row.gender }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Name" align="left" prop="name" />
			<el-table-column label="Height" align="left" prop="height"/>
			<el-table-column label="Mass" align="left" prop="mass"/>
    </el-table>
    <el-row>
      <el-col :span="24" align="center">
        <el-pagination :total="total" layout="prev, pager, next, total" @current-change="callServiceList"/>
      </el-col>
    </el-row>
  </div>
</template>
<script>
/* eslint-disable */
import util from '@/utils/util.js'
import PeopleService from '@/service/PeopleService.js'
import People from '@/domain/People.js'

export default {
  data() {
    return {
      loading: false,
      total: 0,
      list: []
    };
  },
  methods: {
    callServiceList(page=1) {
      this.loading = true
      let peopleService = new PeopleService(this)
      peopleService.list(page).then(list => {
        if (list) {
          console.log(list)
          this.total = list.data.count
          this.list = []
          list.data.results.forEach(element => {
            this.list.push(new People(element))
          })
        }
        this.loading = false
      })
    },
  },
  created() {
    this.callServiceList()
  }
}
</script>
<style scoped>
</style>